body{
    padding: 0;
    margin: 0;
    font-family:  'Google Sans', Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    overflow: hidden;
    color: #5f6368;
}

/* Navbar */
.Navbar{
    width: 100%;
    padding: .6% 1.6% .6% 1.6%;
    border-bottom: 1px solid #dadce0;
    background: #fff;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 2;
}
.Navbar-brand{
    margin-bottom: auto;
    margin-top: auto;
    display: flex;
}
.Navbar-brand img{
    padding: 0;
    margin-right: 9.5%;
    width: 36px; 
    height: 32px;
}
.Navbar-brand span{
    font-size: 1.4rem;
    margin-top: auto;
    margin-bottom: auto;
    color: #5f6368;
    padding: 0%;
}
.Navbar-form{
    margin-left: 11%;
    width: 72.5%;
    display: flex;
}
.Navbar-form .btn-search{
    height: 47.5px;
    padding-left: 1.5%;
    background-color: #f1f3f4;
    color: #9d7575;
    border: 0;
    border-radius: 8px 0px 0px 8px;
}
.Navbar-form input{
    width: 69%;
    height: 46px;
    font-size: 1rem;
    background-color: #f1f3f4;
    border: 0;
}
.Navbar-form .btn-arrow{
    height: 47.5px;
    padding-right: 1.5%;
    background-color: #f1f3f4;
    color: #9d7575;
    border: 0;
    border-radius: 0px 8px 8px 0px;
}
.Navbar-item{
    margin-top: auto;
    margin-bottom: auto;
    color: #5f6368;
}
.Navbar-item.settings-icon{
    margin-left: 1.5%;
    margin-right: 1.5%;
}
.Navbar-item.apps-icon{
    margin-right: 1.5%;
    margin-left: 1.5%;
}
.Navbar-item.profile-icon{
    margin-right: 3%;
}

/* Actionbar styles*/
.Actionbar{
    position: fixed;
    left: 19%;
    top: 9.5%;
    padding: 1%;
    width: 80.5%;
    border-bottom: 1px solid #dadce0;
    background: #fff;
}
.Actionbar-action-button{
    font-size: 18px;
    background: #fff;
    border: 0;
    color: #000;
}

/* Sidebar */
.Sidebar{
    width: 260px;
    height: 90vh;
    position: fixed;
    left: 0;
    top: 9.5%;
}
.Sidebar-list{
    padding-top: 5.5%;
}
/* Sidebar item */
.Sidebar-item{
    margin-top: 2%;
    margin-left: 10%;
    display: flex;
    padding: 3%;
    border-radius: 0 24px 24px 0;
    width: 90%;
}
.Sidebar-item.active{
    background-color: #e8f0fe;
    margin-left: 0;
    color: blue;
}
.Sidebar-link{
    color: #5f6368;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
    font-size: 13px;
    font-weight: bold;
}
.Sidebar-item.active .Sidebar-link{
    color: blue;
}
/* Sidebar Button New */
.Sidebar-button{
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    background-color: #fff;
    border: 1px solid transparent;
    margin-bottom: 5%;
    margin-left: 5%;
    border-radius: 24px;
    color: #3c4043;
    display: flex;
    font-size: 15px;
    height: 48px;
    width: 135px;
    padding: 0 25px 0 10px;
}
.Sidebar-button svg{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20%;
}
.Sidebar-button span{
    margin-top: auto;
    margin-bottom: auto;
}
/* Sidebar divider */
.Sidebar-divider{
    border-bottom: 1px solid #dadce0;
    width: 95%;
}

.Sidebar-item.progressbar{
    padding-top: 0;
    padding-left: 3%;
    display: grid;
}
.Sidebar-item progress{
    height: 12px;
}
.Sidebar-item span{
    margin-top: 2%;
    font-size: .75rem;
}

/* Home page styles */
.Home{
    width: 80.5%;
    margin-left: 19%;
    margin-top: 9%;
    padding-left: .5%;
    height: 82vh;
    overflow-y: auto;
}

/* HomeSections styles */
.SectionQuickAcces, .SectionFolders{
    display: flex;
}

/* DocumentCard styles */
.DocumentCard{
    width: 245px;
    border: solid 1px #ececec;
    border-radius: 3%;
    margin-right: 1%;
}
.DocumentCard-body{
    padding: 5%;
    display: grid;
}
.DocumentCard-body .document-name{
    font-size: .9rem;
    width: 100%;
    margin-bottom: 2%;
}
.DocumentCard-body .date-action{
    margin-top: 2%;
    font-size: .8rem;
    filter: opacity(.8);
    width: 100%;
}

/* FolderCard styles */
.FolderCard{
    border: solid 1px #ececec;
    width: 225px;
    margin-right: 1%;
    margin-bottom: 1%;
    padding: 1%;
    display: flex;
    border-radius: 5%;
}

.FolderCard .folder-name{
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 10%;
}

/* SectionFiles styles */
.SectionFiles{
    display: flex;
}

/* FileCard */
.FileCard{
    width: 245px;
    border: solid 1px #ececec;
    border-radius: 3%;
    margin-bottom: 1%;
    margin-right: 1%;
}
.FileCard-body{
    display: flex;
    padding: 5%;
}
.FileCard-body .file-name{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
}
.FileCard .icon{
    color: red;
}

/* Section container styles */
.container{
    margin-bottom: 1%;
}
.container h5{
    margin-left: 2%;
}